@charset "utf-8";
.inner{display: inline-block;
      width:100px;
	  height:100px;
	  background:#756647;
	  line-height: 100px;
	  text-align: center;
	  margin-left:20%;
	  animation:names 3s  linear infinite;}
.container{width:100%;height:100%;margin:100px auto;}
.inner:hover{border-radius:100%;transition:border-radius .2s ease-out;
/*将动画的时间归为0s那么动画就会停止*/
		animation:name 0s;}
a{color:white;text-decoration: none;font-size:1.8vw;}
@keyframes  names{
		0%{transform:rotate(0deg);transform-origin:0 0;}
		25%{transform:rotate(30deg);transform-origin:0 0;}
		70%{transform:rotate(-30deg);transform-origin:0 0;}
		100%{transform:rotate(0deg);transform-origin:0 0;}
}
.line{width:100%;height:2px;background:#756647;margin-top:15%;}